# Gitignore for Next.js projects

# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js build output
.next/
out/ # For static exports

# Production build output (if using custom build directory)
dist/

# Environment variables
.env.local
.env.*.local
.env

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Editor/IDE specific files
.idea/ # IntelliJ IDEA
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Other common ignored files
coverage/ # Test coverage reports